{% extends "base_template.html" %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/autor_detalle.css' %}">
<title>Autor</title>
{% endblock %}

{% block content %}
<div class="container detalle">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Fecha de nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.nombres }}</td>
            <td>{{ object.apellidos }}</td>
            <td>{{ object.birth_date }}</td>
          </tr>
        </tbody>
      </table>    
</div>

{% endblock %}